

.card
{
    background: #f5f7f8 !important;
    border-radius: 20px;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 -15px 15px rgba(0, 0, 0, 0.05),
                inset 0 -15px 15px rgba(0, 0, 0, 0.05);
}