

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: #d2e9f1 !important;
    margin-bottom: 50px !important;
}
.container1
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 60vh;
    background: #d2e9f1 !important;
    margin-bottom: -130px;
}

.card
{
    background: #f5f7f8 !important;
    border-radius: 12px;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 -15px 15px rgba(0, 0, 0, 0.05),
                inset 0 -15px 15px rgba(0, 0, 0, 0.05);
}

.c-footer
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.clock
{
    margin-bottom: -150px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/images/clock.png");
    background-color: #d2e9f1;
    background-size: cover;
    border: 4px solid #d2e9f1;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 -15px 15px rgba(0, 0, 0, 0.05),
                inset 0 -15px 15px rgba(0, 0, 0, 0.05);
}

.clock:before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgb(36, 35, 35);
    border-radius: 50%;
    z-index: 10000;
}

.clock .hour,
.clock .min,
.clock .sec
{
    position: absolute;
}

.clock .hour, .hr
{
    width: 110px;
    height: 110px;
}

.clock .min, .mn
{
    width: 140px;
    height: 140px;
}

.clock .sec, .sc
{
    width: 165px;
    height: 165px;
}

.hr, .mn, .sc
{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    position: absolute;
    border-radius: 50%;
}

.hr:before
{
    content: '';
    position: absolute;
    width: 7px;
    height: 50px;
    background: #10cfff;
    border-radius: 50%;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn:before
{
    content: '';
    position: absolute;
    width: 4px;
    height: 70px;
    background: rgb(36, 35, 35);
    border-radius: 50%;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc:before
{
    content: '';
    position: absolute;
    width: 1px;
    height: 80px;
    background: rgb(36, 35, 35);
    border-radius: 50%;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.table-fixed>tbody>tr>td:last-child
{
    border-right: 0;
}

.table-fixed tbody td,
.table-fixed thead>tr>th
{
    float: left;
}

.table-fixed tbody
{
    display: block;
    height: 200px;
    overflow-y: auto;
}

.table-fixed tr
{
    display: block;
    align-items: baseline;
}

.table-fixed .col {
    width: 20%;
}

.table-fixed .col1 {
    width: 16.6%;
}

.container2 ul
{
    position: relative;
    
}

.container2 ul li a{
    color: rgb(6, 42, 53);
    font-weight: 600;
}

.container2 .nav-link
{
    position: relative;
    z-index: 100;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.panel
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 235, 235, 0.588);
    border-radius: 3px;
    cursor: pointer;
    z-index: 0;
    box-shadow: 2px 5px 20px rgba(12, 112, 65, 0.479);
}
