*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.but-con
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #d2e9f1;
}

.button_request {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #111;
    text-transform: uppercase;
    color: #111;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
}

.button_request:before
{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: #d2e9f1;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
    transition-delay: 0.5s;
}

.button_request:hover:before
{
    transform: scaleY(0);
}

.button_request:after
{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: #d2e9f1;
    transition: 0.5s ease-in-out;
    transform: scaleX(1);
}

.button_request:hover:after
{
    transform: scaleX(0);
}

.button_request span 
{
    position: relative;
    z-index: 3;
}